@model ReadBook.Models.Writer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create New Writer</h4>
<hr />
<div class="row">
    <div class="col l4 sm12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <select asp-for="Nationality" class="form-control" >
                    <option value='Algeria'> Algeria</option>
                    <option value='Bahrain'> Bahrain</option>
                    <option value='Comoros'> Comoros</option>
                    <option value='Djibouti'> Djibouti</option>
                    <option value='Egypt'> Egypt</option>
                    <option value='Iraq'> Iraq</option>
                    <option value='Jordan'> Jordan</option>
                    <option value='Kuwait'> Kuwait</option>
                    <option value='Lebanon'> Lebanon</option>
                    <option value='Libya'> Libya</option>
                    <option value='Mauritania'> Mauritania</option>
                    <option value='Morocco'> Morocco</option>
                    <option value='Oman'> Oman</option>
                    <option value='Palestine'> Palestine</option>
                    <option value='Qatar'> Qatar</option>
                    <option value='Saudi Arabia'> Saudi Arabia</option>
                </select>
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" type="file" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
