@model ReadBook.Models.Book

<div id="" class="mt-5">
    <div class="modal-content">
        <div class="row" id="product-two">
            <div class="col m4 s12">
                <img src="~/images/Book/@Model.Cover" class="responsive-img" alt="">
            </div>
            <div class="col m8 s12">
                <p>@Model.Category</p>
                <h5>@Model.Name</h5>
                <span class="new badge left ml-0 mr-2" data-badge-caption="">4.2 Star</span>
                <p>Availability: <span class="red-text">Out of stock</span></p>
                <hr class="mb-5">
                <span class="vertical-align-top ml8 mr-4"><i class="material-icons mr-3">favorite_border</i>Wishlist</span>
                <ul class="list-bullet">
                    <li class="list-item-bullet">@Model.Resume</li>
                    
                </ul>
                <h5> <span class="prise-text-style ml-2">$@Model.Price</span></h5>
                <a asp-action="Index" class="waves-effect waves-light btn gradient-45deg-deep-purple-blue d-none mt-2 mr-2">Back</a>
                <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange mt-2">DEMAND IT</a>
            </div>
        </div>
    </div>
</div>


