@model IEnumerable<ReadBook.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>

    <div class="row">

      @foreach(var book in Model)
      {
        <div class="col s12 m6 l4">
        <div class="card deep-purpl ">
          <div class="card-conten white-text right-align pr-0 ">

          <span class="card-title position-absolute red-text" style="position:absolute; left:25%; bottom :50px;">@book.Name</span>
                    <button class="card-title position-absolute white-text btn btn-red" style="position:absolute; left:25%; bottom :20px; ">Delete</button>
            <a asp-Controller="Book" asp-action="Details" asp-route-id="@book.Id">
                <img class="responsive-img" style="margin:auto" src="~/images/Book/@book.Cover" alt="images">
            </a>
          </div>
        </div>
      </div>
      }
<!--       
      <div class="col s12 m6 l4">
        <div class="card red darken-2">
          <div class="card-content white-text right-align pr-0">
            <span class="card-title position-absolute">Music</span>
            <img class="responsive-img" src="~/images/cards/headphones.png" alt="images">
          </div>
          <div class="card-action pt-0">
            <p class="white-text">Default Quality</p>
            <div class="chip">192kb <i class="close material-icons">close</i></div>
            <div class="chip">320kb <i class="close material-icons">close</i></div>
          </div>
          <div class="card-action pt-0">
            <p class="white-text">Save Video Quality</p>
            <div class="switch">
              <label> Off <input type="checkbox"> <span class="lever"></span> On </label>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="col s12 m6 l4">
        <div class="card black">
          <div class="card-content white-text right-align pr-0">
            <span class="card-title position-absolute">iPad</span> <img class="responsive-img" src="~/images/cards/ipad.png" alt="images">
          </div>
          <div class="card-action pt-0">
            <p class="white-text">Storage</p>
            <div class="chip">64gb <i class="close material-icons">close</i></div>
            <div class="chip">128gb <i class="close material-icons">close</i></div>
          </div>
          <div class="card-action pt-0">
            <p class="white-text">Color</p>
            <div class="switch">
              <label> Glod <input type="checkbox"> <span class="lever"></span> Black
              </label>
            </div>
          </div>
        </div>
      </div> -->
    </div>